In [1]:
# https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/cohorts/2023/01-intro/homework.md

In [5]:
# question 1
import pandas as pd 
pd.__version__
# 1.4.4

'1.4.4'

In [30]:
# question 2
df = pd.read_csv('dataset/housing.csv')
df.shape
# 10

(20640, 10)

In [31]:
# question 3 
df.isna().sum()
# total_bedrooms

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [32]:
# question 4
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [33]:
df.ocean_proximity.value_counts()
# 5

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [34]:
# question 5
df[df['ocean_proximity'] == 'NEAR BAY'].median_house_value.mean()

# 259212

259212.31179039303

In [35]:
# question 6
mean = df.total_bedrooms.mean()
print('mean with missing values', mean)

mean with missing values 537.8705525375618

In [37]:
df.total_bedrooms = df.total_bedrooms.fillna(mean)
print('mean with no missing values', df.total_bedrooms.mean())

# no change

mean with no missing values 537.8705525375639

In [41]:
import numpy as np 
# question 7
islands_data = df[df['ocean_proximity'] == 'ISLAND']

# Selecting only the specified columns
selected_columns = islands_data[['housing_median_age', 'total_rooms', 'total_bedrooms']]

# Getting the NumPy array
X = selected_columns.values

# Computing matrix-matrix multiplication between the transpose of X and X
XTX = np.dot(X.T, X)

# Computing the inverse of XTX
XTX_inverse = np.linalg.inv(XTX)

# Creating an array y
y = np.array([950, 1300, 800, 1000, 1300])

# Multiplying the inverse of XTX with the transpose of X, and then multiplying by y
w = np.dot(np.dot(XTX_inverse, X.T), y)

# Getting the last element of w
last_element_w = w[-1]

print(last_element_w)
# 5.699

5.6992294550655656